In [1]:
print("hello")

hello

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

C:\Users\PC\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [5]:
#step 1 load data
dataframe = pd.read_csv("data.csv")
#remove unncessary data from the index , price, sq_price columns
dataframe = dataframe.drop(['index','price','sq_price'], axis = 1)
#take and show the first ten row from data that will be use to train the model
dataframe = dataframe.head(10)
dataframe

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [6]:
#step 2: setting the label for our data so that we can use it to train
#1 is good buy and 0 is bad
dataframe.loc[:,('y1')] = [1,1,1,0,0,1,1,0,0,1]
#y2 is a negation of y1, opposite
dataframe.loc[:,('y2')] = dataframe['y1'] == 0
#turn TRUE/FALSE vale to 1s and 0s
dataframe.loc[:,('y2')] = dataframe['y2'].astype(int)
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   1   0
7  1427.0        3.0   0   1
8  1380.0        3.0   0   1
9  1494.0        3.0   1   0

In [10]:
#step 3 = prepare data for tensorflow
#actually tensors are vector or matrices (N-Dimensions vectors)
#vector is tensor level 1
#matrix is level 2 tensor
#list of list of list of number is level 3 tensor
#convert input into tensors
inputX = dataframe.loc[:,['area','bathrooms']].as_matrix()
#convert labels into tensors
inputY = dataframe.loc[:,['y1','y2']].as_matrix()

array([[2.104e+03, 3.000e+00],
       [1.600e+03, 3.000e+00],
       [2.400e+03, 3.000e+00],
       [1.416e+03, 2.000e+00],
       [3.000e+03, 4.000e+00],
       [1.985e+03, 4.000e+00],
       [1.534e+03, 3.000e+00],
       [1.427e+03, 3.000e+00],
       [1.380e+03, 3.000e+00],
       [1.494e+03, 3.000e+00]])

In [13]:
#step 4: Define our hyper parameters
learning_rate = 0.000001
training_epochs = 2000
display_step = 50
n_samples = inputY.size

In [30]:
#step 5: Create our computational graph / Neural Network
#None means the number of examples (in here its 10, '2' 
#stand for 2 inputs that are area and bathrooms)
#placeholder in tensorflow is gateway for data into our Neural Network
x = tf.placeholder(tf.float32, [None,2])
#create weights
W = tf.Variable(tf.zeros([2,2]))
#create our biases. This is like y = wx+b
b = tf.Variable(tf.zeros([2]))
#its time to caculate our weights by 
#multiply the matrix W with our input in the placeholder 
#and than add it with the biases
#the weights will helps us to govern the movements of logic inside our graphs
y_values =  tf.add(tf.matmul(x,W) , b)

#apply softmax in neural network to our new calculations
#result
y = tf.nn.softmax(y_values)

#feed our matrix with label
y_ = tf.placeholder(tf.float32 , [None,2])

In [32]:
#step 6: perform training
#Creating our cost function by using mean square error
#Reduce sum functions from tensorflow can help us 
#compute to total sum of all dimension in our tensor instead
#of using a for loop like in the gradient descent example
cost = tf.reduce_sum(pow((y_-y),2)*(2/n_samples))
#Gradient descent
#this will multiply exactly the same with the gradient descent
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [33]:
#intitalize all variable such as place holder or tf. functions
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)

WARNING:tensorflow:From C:\Users\PC\Anaconda3\lib\site-packages\tensorflow\python\util\tf_should_use.py:118: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [40]:
#training Loop
for i in range(training_epochs):
    sess.run(optimizer,feed_dict = {x:inputX,y_:inputY})
    
    if i % display_step == 0:
        cc = sess.run(cost,feed_dict = {x:inputX,y_:inputY})
        print("training step: %04d" %(i), "cost = " , "{:.9f}".format(cc))
print("Finish Training")
training_cost = sess.run(cost,feed_dict = {x:inputX,y_:inputY})
print("Training cost is :",training_cost, "W = ", sess.run(W), "b = ", sess.run(b) )

training step: 0000 cost =  0.478523821
training step: 0050 cost =  0.478523761
training step: 0100 cost =  0.478523612
training step: 0150 cost =  0.478523552
training step: 0200 cost =  0.478523433
training step: 0250 cost =  0.478523374
training step: 0300 cost =  0.478523314
training step: 0350 cost =  0.478523195
training step: 0400 cost =  0.478523076
training step: 0450 cost =  0.478522986
training step: 0500 cost =  0.478522927
training step: 0550 cost =  0.478522837
training step: 0600 cost =  0.478522748
training step: 0650 cost =  0.478522658
training step: 0700 cost =  0.478522569
training step: 0750 cost =  0.478522480
training step: 0800 cost =  0.478522390
training step: 0850 cost =  0.478522331
training step: 0900 cost =  0.478522241
training step: 0950 cost =  0.478522092
training step: 1000 cost =  0.478522032
training step: 1050 cost =  0.478521913
training step: 1100 cost =  0.478521854
training step: 1150 cost =  0.478521794
training step: 1200 cost =  0.478521675
training step: 1250 cost =  0.478521585
training step: 1300 cost =  0.478521526
training step: 1350 cost =  0.478521436
training step: 1400 cost =  0.478521347
training step: 1450 cost =  0.478521287
training step: 1500 cost =  0.478521168
training step: 1550 cost =  0.478521079
training step: 1600 cost =  0.478520960
training step: 1650 cost =  0.478520900
training step: 1700 cost =  0.478520751
training step: 1750 cost =  0.478520691
training step: 1800 cost =  0.478520602
training step: 1850 cost =  0.478520513
training step: 1900 cost =  0.478520453
training step: 1950 cost =  0.478520334
Finish Training
Training cost is : 0.47852024 W =  [[ 0.00011369 -0.00011369]
 [ 0.00017878 -0.00017878]] b =  [-8.8227425e-06  8.8227489e-06]